section.testimonials {
  background-color: #f9f9f9;
}

.testimonials-image {
  width: 100%;
}
section.testimonials .swiper {
  padding-bottom: 70px;
}
section.testimonials .swiper-slide {
  width: 350px;
  max-width: 100%;
}
section.testimonials .swiper .swiper-button-prev,
section.testimonials .swiper .swiper-button-next {
  position: absolute;
  top: calc(100% - 25px);
}
section.testimonials .swiper .swiper-button-prev::after,
section.testimonials .swiper .swiper-button-next::after {
  font-family: "Material Icons";
  background: linear-gradient(
    to bottom,
    var(--main-color-2),
    var(--main-color-1),
    var(--main-color-3)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(119, 119, 119, 0.1);
  font-size: 35px;
  padding: 5px;
  color: var(--main-color-2);
}
section.testimonials .swiper .swiper-button-prev::before,
section.testimonials .swiper .swiper-button-next::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}
section.testimonials .swiper .swiper-button-prev {
  left: 10px;
}
section.testimonials .swiper .swiper-button-next {
  left: 70px;
}
section.testimonials .swiper .swiper-button-prev::after {
  content: "\e5c4";
}
section.testimonials .swiper .swiper-button-next::after {
  content: "\e5c8";
}

.client-review-box {
  width: 100%;
  margin-top: 5px;
}

.client-review-box .content {
  position: relative;
  text-align: center;
  padding: 20px;
  padding-bottom: 70px;
  background-color: transparent;
  filter: drop-shadow(0px 0px 3px rgba(119, 119, 119, 0.3));
  z-index: 1;
}
.client-review-box .content::before {
  content: "";
  position: absolute;
  inset: 0;
  clip-path: polygon(
    0% 0%,
    100% 0,
    100% calc(100% - 60px),
    35px calc(100% - 60px),
    0 100%
  );
  background-color: #f9f9f9;
  z-index: -1;
}

.client-review-box .content q {
  color: #707070;
}
